
body{
  background-image: url('https://media.discordapp.net/attachments/686551205555732498/698157368416010240/voiture3.jpg?width=794&height=526');
  background-size: cover;
  background-repeat: no-repeat;
}
